<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Health And Care Hospital</title>
    <meta name="description" content="Health And Care Hospital">
    <meta name="keywords" content="free website templates, free bootstrap themes, free template, free bootstrap, free website template">

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Candal">
    <link rel="stylesheet" type="text/css" href="~/Medilab/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Medilab/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Medilab/css/style.css">

</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

    <section id="banner" class="banner">
        <div class="bg-color">
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <div class="col-md-12">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/Medilab/img/logo.png" class="img-responsive" style="width: 140px; margin-top: -16px;"></a>
                        </div>
                        <div class="collapse navbar-collapse navbar-right" id="myNavbar">
                            <ul class="nav navbar-nav">
                                @if (this.User.IsInRole("Administrator"))
                                {
                                    <li class="active"><a asp-area="Admin" asp-controller="Department" asp-action="All">Departments</a></li>
                                    <li class="active"><a asp-area="Admin" asp-controller="Doctor" asp-action="All">Doctors</a></li>
                                    <li class="active"><a asp-area="Admin" asp-controller="Disease" asp-action="All">Diseases</a></li>
                                    <li class="active"><a asp-area="Admin" asp-controller="Medicine" asp-action="All">Medicines</a></li>
                                    <li class="active"><a asp-area="Doctor" asp-controller="Patient" asp-action="All">Patients</a></li>
                                    <li class="active"><a asp-area="Doctor" asp-controller="Appointment" asp-action="All">Appointments</a></li>
                                    <li class="active"><a asp-area="Contact" asp-controller="Contact" asp-action="All">Contacts</a></li>
                                }
                                @if (this.User.IsInRole("Doctor"))
                                {
                                    <li class="active"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                                    <li class="active"><a asp-area="" asp-controller="Diseases" asp-action="All">Diseases</a></li>
                                    <li class="active"><a asp-area="" asp-controller="Medicines" asp-action="All">Medicines</a></li>
                                    <li class="active"><a asp-area="Doctor" asp-controller="Patient" asp-action="All">Patients</a></li>
                                    <li class="active"><a asp-area="Doctor" asp-controller="Appointment" asp-action="All">Appointments</a></li>
                                    <li class="active"><a asp-area="Contact" asp-controller="Contact" asp-action="All">Contacts</a></li>
                                }
                                @if (this.User.Identity.IsAuthenticated && !this.User.IsInRole("Administrator") && !this.User.IsInRole("Doctor"))
                                {
                                    <li class="active"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                                    <li class="active"><a asp-area="" asp-controller="Departments" asp-action="All">Departments</a></li>
                                    <li class="active"><a asp-area="" asp-controller="Diseases" asp-action="All">Diseases</a></li>
                                    <li class="active"><a asp-area="" asp-controller="Medicines" asp-action="All">Medicines</a></li>
                                    <li class="active"><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                                    <li class="active"><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                                }
                                @if (!this.User.Identity.IsAuthenticated)
                                {
                                    <li class="active"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                                    <li class="active"><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                                    <li class="active"><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                                }
                            </ul>
                            @await Html.PartialAsync("_LoginPartial")
                        </div>
                    </div>
                </div>
            </nav>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <div class="container">
                @RenderBody()
                <hr />
            </div>
        </div>
    </section>

    <footer id="footer">
        <div class="top-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-4 marb20">
                        <div class="ftr-tle">
                            <h4 class="white no-padding">About Us</h4>
                        </div>
                        <div class="info-sec">
                            <p>The hospital with a multidisciplinary approach, latest technology and great expertise, the 100-bedded unit including a 50 bedded surgical unit in the main hospital is geared up to be the ultimate destination of health care in Sofia.</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 marb20">
                        <div class="ftr-tle">
                            <h4 class="white no-padding">Quick Links</h4>
                        </div>
                        <div class="info-sec">
                            <ul class="quick-info">
                                <li><a asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-circle"></i>Home</a></li>
                                <li><a href="/departments/all"><i class="fa fa-circle"></i>Services</a></li>
                                <li><a href="/home/contact"><i class="fa fa-circle"></i>Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 marb20">
                        <div class="ftr-tle">
                            <h4 class="white no-padding">Follow us</h4>
                        </div>
                        <div class="info-sec">
                            <ul class="social-icon">
                                <li class="bglight-blue"><a href="https://web.facebook.com/"><i class="fa fa-facebook btn"></i></a></li>
                                <li class="bgred"><a href="https://plus.google.com/discover"><i class="fa fa-google-plus btn"></i></a></li>
                                <li class="bgdark-blue"><a href="https://www.linkedin.com/"><i class="fa fa-linkedin btn"></i></a></li>
                                <li class="bglight-blue"><a href="https://twitter.com/"><i class="fa fa-twitter btn"></i></a></li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-line">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p>&copy; 2017 - Health And Care Hospital</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <script src="~/Medilab/js/jquery.min.js"></script>
    <script src="~/Medilab/js/jquery.easing.min.js"></script>
    <script src="~/Medilab/js/bootstrap.min.js"></script>
    <script src="~/Medilab/js/custom.js"></script>
    <script src="~/Medilab/contactform/contactform.js"></script>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
